{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="initial-scale=1, maximum-scalable=yes">
	<meta name="description" content="Online Spreadsheet Generator for Caleb University">
	<meta name="keywords" content="Online Spreadsheet Generator,Caleb University Generator, Result database">
	<meta name="author" content="Aderibigbe Ayomide Joy">
	<title>Caleb University Community</title>
	<link rel="stylesheet" type="text/css" href="{% static './css/searchedchat.css' %}">
	<script rel="stylesheet" type="text/javascript" src="{% static './js/jquery-1.9.1.min.js' %}"></script>
</head>
<body>
	<nav>
		<div>
			<a href="index.html"><img src="{% static './img/caleb-logo-1.png' %}"></a>
		</div>
		<div>
			<a href="https://www.admission.calebuniversity.edu.ng" target="_blank">Admission</a>
			<a href="https://www.calebuniversity.edu.ng/courses" target="_blank">Courses</a>
			<a href="https://www.calebuniversity.edu.ng/news/" target="_blank">News</a>
			<a href="https://www.ums.calebuniversity.edu.ng" target="_blank">Portal</a>
			<a href="https://www.calebuniversity.edu.ng/about-us/" target="_blank">About</a>
			<a href="/logout" class="button">Sign Off</a>
		</div>
	</nav>
	<div class="mainer">
	</div>
	<section class="main">
		<div class="invitationx">
			<div class="invitex">
				<p><strong>Search Results ({{No_of_search}})</strong></p>
				<p><a href="/chats"><span class="reddie">Exit(Back)</span></a></p>
			</div>
			{% if No_of_search > 0 %}
			{% for search in search_result %}
					<span class="invite1">
						<a href="{% url 'privatechat' search.id %}" class="invite_link">
							{% if profile_picture == "none" %}
							<img src="{% static './img/new_person.png' %}">
							{% else %}
							<img src={{search.friend_profile_img}}>
							{% endif %}
						</a>
						<a href="{% url 'privatechat' search.id %}" class="invite_link"><h3>{{search.friend_name}}</h3></a>
					</span>
			{% endfor %}
			<span class="ked">
				<h3>({{No_of_search}}) search results for ({{searched_peer}})</h3>
			</span>
			{% elif No_of_search == 0 %}
			<span class="ned">
				<h1>No Chats were found for ({{searched_peer}})</h1>
			</span>
			{% endif %}
		</div>
	</section>
	<section class="sidebar">
		<div class="navigation">
			<div>
				<h3>Navigations</h3>
				<p>Explore this new world now!</p>
			</div>
			<div class="movoro">
				<a href="/home"><img src="{% static './img/person-circle.svg' %}">Profile</a>
				<a href="/book"><img src="{% static './img/house-fill.svg' %}">Library</a>
				<a href="/chats"><img src="{% static './img/chat-dots.svg' %}">Chats</a>
				<a href="/groups"><img src="{% static './img/house-fill.svg' %}">Groups</a>
				<a href="/peers"><img src="{% static './img/plus-circle.svg' %}"> Peers</a>
				<a href="/findpeers"><img src="{% static './img/person-plus-fill.svg' %}"> Find Peers</a>
			</div>
		</div>
		<div class="banner">

		</div>
	</section>
	<script type="text/javascript">
	</script>
</body>
</html>