{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="initial-scale=1, maximum-scalable=yes">
	<meta name="description" content="Online Spreadsheet Generator for Caleb University">
	<meta name="keywords" content="Online Spreadsheet Generator,Caleb University Generator, Result database">
	<meta name="author" content="Aderibigbe Ayomide Joy">
	<title>Caleb University Community</title>
	<link rel="stylesheet" type="text/css" href="{% static './css/viewprofile.css' %}">
</head>
<body>
	<nav>
		<div>
			<a href="index.html"><img src="{% static './img/caleb-logo-1.png' %}"></a>
		</div>
		<div>
			<a href="https://www.admission.calebuniversity.edu.ng" target="_blank">Admission</a>
			<a href="https://www.calebuniversity.edu.ng/courses" target="_blank">Courses</a>
			<a href="https://www.calebuniversity.edu.ng/news/" target="_blank">News</a>
			<a href="https://www.ums.calebuniversity.edu.ng" target="_blank">Portal</a>
			<a href="https://www.calebuniversity.edu.ng/about-us/" target="_blank">About</a>
			<a href="/logout" class="button">Sign Off</a>
		</div>
	</nav>
	<div class="mainer">

	</div>
	<section class="main">
		<div class="firstsec">
			<div class="profpic">
				{% if new_profile_item.profile_background_picture == "none" %}
				<img src="{% static './img/person.png' %}" class="onep">
				{% else %}
				<img src={{new_profile_item.profile_background_picture}} class="onep">
				{% endif %}
				{% if new_profile_item.profile_picture == "none" %}
				<img src="{% static './img/new_person.png' %}" class="twop">
				{% else %}
				<img src={{new_profile_item.profile_picture}} class="twop">
				{% endif %}
			</div>
			<div class="proftit">
				<h3>{{Profile.name}}</h3>
				<p>{{Profile.status}} at Caleb University</p>
			</div>
			<div class="profhans">
				<h3>Primary Info</h3>
				<div>
					{% if Profile.status == 'student' %}
					<span class="flamejaws"><img src="{% static './img/geo-alt-fill.svg' %}"> {{Profile.level}}</span>
					{% else %}
					<span class="flamejaws"><img src="{% static './img/geo-alt-fill.svg' %}"> {{Profile.status}}</span>
					{% endif %}
					<span class="flamejaws"><img src="{% static './img/person-fill.svg' %}"> {{Profile.gender}}</span>
					<span class="flamejaws"><img src="{% static './img/envelope-plus.svg' %}"> {{Profile.email}}</span>
				</div>
				<div>
					{% if Profile.status == 'student' %}
					<span class="flamejaws"><img src="{% static './img/phone.svg' %}"> {{Profile.matric}}</span>
					{% endif %}
					<span class="flamejaws"><img src="{% static './img/calendar2-date.svg' %}"> {{Profile.date_of_birth}}</span>
				</div>
			</div>
		</div>
		<div class="thirdsec">
			<span class="blight">
				<h3>Caleb Grading System!</h3>
				<div class="rogo">
				</div>
			</span>
			<div class="eddy"></div>
			<h4><span class="greenie">Honours</span></h4>
			<span class="spancious">
				<ul>
					<li>First Class Honours: 5.00-4.50</li>
					<li>Second Class Honours(Lower): 3.50-2.50.</li>

				</ul>
				<ul>
					<li>Third Class Honours</li>
					<li>Second Class Honours(Upper): 4.50-3.50</li>
				</ul>
			</span>

			<div class="eddy"></div>
			<h4><span class="greenie">Point Gradings</span></h4>
			<span class="spanciousx">
				<ul>
					<li>A: 100%-70%</li>
					<li>E: 44%-40%</li>
				</ul>
				<ul>
					<li>C: 59%-50%</li>
					<li>F: 39%-0%</li>
				</ul>
				<ul>
					<li>B: 69%-60%</li>
					<li>D: 49%-45%</li>
				</ul>
			</span>
		</div>
		<div class="thirdsec">
			<span class="blight">
				<h3>About</h3>
				<div class="rogo">
				</div>
			</span>
			{% if bioLength > 1 %}
			<p>{{Profile.bio}}</p>
			{% else %}
			<h3><span class="greenie" style="padding: 25px 30% 50px; text-align: center;">No Bio Uploaded Yet!</span></h3>
			{% endif %}
		</div>
	</section>
	<section class="sidebar">
		<div class="navigation">
			<div>
				<h3>Navigations</h3>
				<p>Explore this new world now!</p>
			</div>
			<div class="movoro">
				<a href="/home"><img src="{% static './img/person-circle.svg' %}">Profile</a>
				<a href="/book"><img src="{% static './img/house-fill.svg' %}">Library</a>
				<a href="/chats"><img src="{% static './img/chat-dots.svg' %}">Chats</a>
				<a href="/groups"><img src="{% static './img/house-fill.svg' %}">Groups</a>
				<a href="/peers"><img src="{% static './img/plus-circle.svg' %}"> Peers</a>
				<a href="/findpeers"><img src="{% static './img/person-plus-fill.svg' %}"> Find Peers</a>
			</div>
		</div>
		<div class="banner">

		</div>
	</section>
</body>
</html>