*
{
	margin: 0;
	padding: 0;
	overflow-y: visible;
	box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

:root{
    --primary-shade: #930000;
    --gray-white: #C3c3c3;
    --secondary-color: #Fbb040;
    --light-color: #fff;
    --dark-color: #000;
}

body{
   font-family: 'Montserrat', sans-serif;
   font-size: 12px;
   width: 100%;
   height: 100vh;
}

@font-face
{
	font-family: "Montserrat-bold";
	src: url(../fonts/Montserrat-ExtraBold.ttf) format('woff2');
}

@font-face
{
	font-family: "Montserrat";
	src: url(../fonts/Montserrat-Regular.ttf) format('woff2');
}

@font-face
{
    font-family: "Montserrat-black";
    src: url(../fonts/Montserrat-Black.ttf) format('woff2');
}

@font-face
{
    font-family: "Montserrat-Medium";
    src: url(../fonts/Montserrat-Medium.ttf) format('woff2');
}

@font-face
{
	font-family: "Montserrat-regular-bold";
	src: url(../fonts/Montserrat-SemiBold.ttf) format('woff2');
}

/* Global Styles */
.greenie
{
    color: green;
}
ul
{
    list-style: none;
}

a
{
    text-decoration: none;
    cursor: pointer;
    color: var(--dark-color);
}


a:hover
{
    color: yellowgreen;
}

img
{
    width: 100%;
}

/***
 * Global End 
 * 
 * Section Stylng Starts
 * 
 ***/

nav
{
    height: 11.5vh;
    width: 100%;
    margin: auto;
    padding: 0px 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: rgba(11, 10, 10, 1.0) 1px 1px 2px;
}

nav img
{
    max-height: 40px;
    width: auto;
}

nav a 
{
    margin: 0px 20px;
    font-family: 'Montserrat-Medium';
}

.message_body
{
    margin-top: 10.75vh;
    max-height: 44vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_body img
{
    width: 300px;
    height: 300px;
    box-size: cover;
}

.button
{
    padding: 10px 20px;
    background: green;
    color: var(--light-color);
    font-family: 'Montserrat-regular-bold';
}

nav div:nth-child(1)
{
    width: 40%;
}

nav div:nth-child(2)
{
    width: 60%;
    text-align: right;
}

.main
{
    min-height: 80vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: var(--light-color);
    border-radius: 15px;
    z-index: 3;
    border: 1px solid #eee;
    box-shadow: rgba(11, 10, 10, 1.0) 1px 1px 1px;
}

.main2
{
    min-height: 80vh;
    width: 80%;
    margin: auto;
    display: none;
    flex-direction: column;
    background: var(--light-color);
    border-radius: 15px;
    z-index: 3;
    border: 1px solid #eee;
    box-shadow: rgba(11, 10, 10, 1.0) 1px 1px 1px;
}

.main3
{
    min-height: 80vh;
    width: 80%;
    margin: auto;
    display: none;
    flex-direction: column;
    background: var(--light-color);
    border-radius: 15px;
    z-index: 3;
    border: 1px solid #eee;
    box-shadow: rgba(11, 10, 10, 1.0) 1px 1px 1px;
}

.titlechat
{
    width: 95%;
    margin: auto;
    margin-bottom: 0.8px;
    margin-top: 0px;
    height: auto;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

.titlechat h2
{
    font-family: 'Montserrat-regular-thin';
    font-size: 20px;
    padding: 15px 5px;
}

.small_nav
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    margin-top: 15px;
    padding-top: 1px;
    border-top: 1px solid #eee;
}

.small_nav_1
{
    padding: 10px 10px;
    border-top: 2px solid blue;
    border-bottom: none;
    color: blue;
}

.small_nav_1:hover
{
    color: blue;
    border-top: 2px solid blue;
}

.small_nav_2
{
    padding: 10px 10px;
    border-top: 2px solid black;
    border-bottom: none;
}

.small_nav_2:hover
{
    border-top: 2px solid black;
    color: black;
}

.small_nav_3
{
    padding: 10px 10px;
    border-top: 2px solid black;
    border-bottom: None;
}

.small_nav_3:hover
{
    border-top: 2px solid black;
    color: black;
}

.note
{
    width: 90%;
    margin: auto;
    margin-bottom: 0.8px;
    margin-top: 0px;
    height: auto;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid #eee;
}

.note:nth-child(1)
{
    border-top: 2px solid #eee;
}

.note h3
{
    padding: 15px 0px;
}

.note p
{
    padding: 5px 0px;
}

.elclasico_span
{
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
}

.elclasico
{
    padding: 5px 13.5px;
    background: blue;
    color: white;
    border-radius: 2.5px;
    margin-right: 5px;
}

.elclasico2
{
    padding:  5px 13.5px;
    background: black;
    color: white;
    border-radius: 2.5px;
    margin-right: 5px;
}

.elclasico3
{
    padding:  5px 13.5px;
    background: green;
    color: white;
    border-radius: 2.5px;
}

.elclasico:hover
{
    color: white;
}

.elclasico2:hover
{
    color: white;
}

.elclasico3:hover
{
    color: white;
}

.mainer
{
    height: 3vh;
}

.first_nec
{
    width: 50%;
    height: 100%;
}

.iframes
{
    overflow: hidden;
    width: 50%;
    height: 300px;
}

.iframes_child
{
    overflow: hidden !important;
    border-radius: 25px;
    border: 3px solid black;
    width: 100%;
    height: 100%;
    box-size: cover;
    box-position: center;
}

.collection_form
{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.collection_span
{
    display: flex;
    align-items: center;
    padding: 10px 0px 20px;
}

.collection_span input
{
    background: #eee;
    font-family: 'Montserrat-regular';
    border: none;
    padding: 5px 15px;
    margin-left: 5px;
}

.collection_form button
{
    border: none;
    font-family: 'Montserrat-regular-thin';
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    background: white;
    box-shadow: inset 0 0 2px grey;
}

::-webkit-scrollbar-thumb
{
    background: #888;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover
{
    background: #666;
}

.ned
{
    text-align: center;
    padding: 0px 25px;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
