*
{
	margin: 0;
	padding: 0;
	overflow-y: visible;
	box-sizing: border-box;
    transition: all 0.6s ease-in-out;
} 

:root{
    --primary-shade: #930000;
    --gray-white: #C3c3c3;
    --secondary-color: #Fbb040;
    --light-color: #fff;
    --dark-color: #000;
}

body{
   font-family: 'Montserrat', sans-serif;
   font-size: 12px;
   background-position: center;
   background: #fafaf9; /*#C3c3c3;*/
   background: url('../img/nediox.png');
   background-attachment: fixed;
}


@font-face
{
    font-family: "Montserrat-regular-thin";
    src: url(../fonts/Montserrat-medium.ttf) format('woff2');
}

@font-face
{
	font-family: "Montserrat-bold";
	src: url(../fonts/Montserrat-ExtraBold.ttf) format('woff2');
}

@font-face
{
	font-family: "Montserrat";
	src: url(../fonts/Montserrat-Regular.ttf) format('woff2');
}

@font-face
{
    font-family: "Montserrat-Medium";
    src: url(../fonts/Montserrat-Medium.ttf) format('woff2');
}

@font-face
{
	font-family: "Montserrat-regular-bold";
	src: url(../fonts/Montserrat-SemiBold.ttf) format('woff2');
}

@font-face
{
    font-family: "Sunata";
    src: url(../fonts/Montserrat-light.ttf) format('woff2');
}

/* Global Styles */
ul
{
    list-style: none;
}

a
{
    text-decoration: none;
    cursor: pointer;
    color: var(--dark-color);
}


a:hover
{
    color: yellowgreen;
}

img
{
    width: 100%;
}
.greenie
{
    color: green;
}
/***
 * Global End 
 * 
 * Section Stylng Starts
 * 
 ***/

nav
{
    height: 11.5vh;
    width: 100%;
    margin: auto;
    padding: 0px 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: white;
    box-shadow: rgba(11, 10, 10, 1.0) 1px 1px 2px;
    position: fixed;
    z-index: 7;
}

nav img
{
    max-height: 40px;
    width: auto;
}

nav a 
{
    margin: 0px 20px;
    font-family: 'Montserrat-Medium';
}
.button
{
    padding: 10px 20px;
    background: green;
    color: var(--light-color);
    font-family: 'Montserrat-regular-bold';
}

nav div:nth-child(1)
{
    width: 40%;
}

nav div:nth-child(2)
{
    width: 60%;
    text-align: right;
}

.main 
{
    min-height: 80vh;
    width: 50%;
    margin-left: 36%;
    margin-top: 15vh;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    background: var(--light-color);
    border-radius: 15px;
    position: absolute;
    z-index: 3;
    border: 1px solid #eee;
    background-position: center;
    background: #fafaf9; /*#C3c3c3;*/
    background-attachment: fixed;
}

.titlechat
{
    width: 50%;
    margin: auto;
    margin-bottom: 0.8px;
    margin-top: 0px;
    height: auto;
    padding: 0px 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #327741;
    position: fixed;
    box-shadow: rgba(11, 10, 10, 1.0) 1px 1px 2px;
}

.titlechat h2
{
    font-family: 'Montserrat-regular-thin';
    font-size: 13.5px;
    padding: 15px 5px;
    color: white;
    text-align: left;
    width: 80%;
}

.titlechat img:nth-child(1)
{
    width: 35px;
    height: 35px;
    margin: 10px;
    object-fit: cover;
    border-radius: 50%;
}

.details
{
    width: 15%;
    text-align: right;
}

.details img
{
    width: 60px !important;
    height: 60px !important;
    object-fit: contain;
    background: white;
}

.message_body
{
    box-shadow: rgba(11, 10, 10, 1.0) 1px 1px 2px;
    padding-top: 13vh;
    padding-bottom: 10.75vh;
    min-height: 90vh;
}

.date_chat
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date_chat p
{
    padding: 2px 6.5px;
    box-shadow: rgba(11, 10, 10, 1.0) 1px 1px 2.5px;
    background: seablue;
    width: auto;
    height: auto;
	border-bottom-left-radius: 4.5px;
	border-bottom-right-radius: 4.5px;
}

.foreign
{
    width: contain;
    height: auto;
    padding: 10px;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.foreign span
{
    background: blue;
    color: white;
    box-shadow: rgba(11, 10, 10, 1.0) 1px 1px 2.5px;
    background: seablue;
    max-width: 65%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
	border-top-right-radius: 4.5px;
	border-bottom-right-radius: 4.5px;
	padding: 7.5px 15px 5px;
}

.foreign h3
{
    padding: 5px 0px;
}

.foreign p
{
    width: 100%;
    text-align: left;
}

.foreign p:nth-child(2)
{
    width: 100%;
    text-align: left;
    padding: 0px 0px 5px;
}

.indigine
{
    padding: 10px;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.indigine span
{
    background: #327741;
    color: white;
    box-shadow: rgba(11, 10, 10, 1.0) 1px 1px 2.5px;
    max-width: 65%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
	border-top-right-radius: 4.5px;
	border-bottom-right-radius: 4.5px;
	padding: 7.5px 15px 5px;
}

.indigine p
{
    width: 100%;
    text-align: right;
    padding: 10px 0px 5px;
}

.indigine p:nth-child(2)
{
    width: 100%;
    text-align: right;
    padding: 5px 0px;
}

.message_box
{
    position: fixed;
    z-index: 4;
    background: white;
    bottom: 0%;
    width: 49.45%;
    height: auto;
}

.message_box form
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    background-position: center;
    background: #fafaf9; /*#C3c3c3;*/
    background-attachment: fixed;
}

.message_box input
{
    height: 50px;
    width: 85%;
    border-radius: 50px;
    box-shadow: rgba(20, 20, 20, 1.0) 0px 1px 5px;
    border: 0px;
    padding-left: 35px;
}

.message_box input:focus
{
    outline: 0px;
    box-shadow: 0 0 7px green;
}

.message_box button
{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: rgba(11, 10, 10, 1.0) 0px 1px 2px;
    border: 0px;
    margin: 0px 5px 0px 5px;
}

.message_box button img
{
    width: 35px;
    height: 35px;
    box-size: cover;
}

.new_message
{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: rgba(11, 10, 10, 1.0) 0px 1px 2px;
    border: 10px solid black;
    margin: 0px 5px 0px 5px;
    background-color: blue;
    position: fixed;
    bottom: 15%;
    right: 16%;
    display: none;
}

.new_message img
{
    width: 25px;
    height: 25px;
    box-size: cover;
}

/*.loader_message
{
    width: 100%;
    height: 100%;
    box-size: cover;
    box-position: center;
}*/

.mainer
{
    height: 15.2vh;
    width: 100%;
    position: fixed;
    z-index: 4;
    background-position: center;
    background: #fafaf9; /*#C3c3c3;*/
    background: url('../img/nediox.png');
    background-attachment: fixed;
}

.sidebar
{
    width: 20%;
    height: 80%;
    background: white;
    position: fixed;
    top: 15vh;
    left: 15%;
}

.navigation
{
    width: 100%;
    height: 400px;
    background: var(--light-color);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: rgba(11, 10, 10, 1.0) 1px 1px 2px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}


.navigation div:nth-child(1)
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    width: 100%;
    box-shadow: rgba(11, 11, 11, 1.0) -0.1px 0px 1px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 5px 0px;
}

.navigation div:nth-child(1) h3
{
    text-align: center;
    margin: 0;
    padding: 5px 0px;
    font-family: 'Montserrat-regular-thin';
}

.navigation div:nth-child(1) p
{
    text-align: center;
    font-family: 'Montserrat-regular-thin';
    opacity: 0.6;
    margin: 0;
    padding: 0;
}

.navigation div:nth-child(2)
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex: 3;
    width: 100%;
    box-shadow: rgba(11, 11, 11, 1.0) -0.1px 0px 1px;
}

.navigation div:nth-child(2) a 
{

    font-family: 'Montserrat-regular-bold';
    color: var(--dark-color);
    padding: 5% 20px;
    display: flex;
    align-items: center;
}

.navigation div:nth-child(2) img
{
    height: 15.5px;
    width: 15.5px;
    object-fit: cover;
    margin: 5px;
}

.ked
{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner
{
    border: 2px solid green;
}